body{
    background-image: url("../assets/backgrounds/Barnblitz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}