body{
background-color: black;
}
.contracker{
    background-image: url('/assets/Contracker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55% 100%;
    width: 1275px;
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.buttonGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80px;
    padding-left: 50px;
    padding-top: 40px;
}

.mercBtn{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
.briefing{
    grid-column: 1/4;
    background-color: #F39157;
    color: #B8383B;
    border-radius: 50px;
    border: solid #B8383B ;
    border-width: medium;
    height: 100;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.briefing:hover{
    opacity: 80%
}

.emblem{
    height: 100px;
    width: 100px;
}

.emblem:hover{
    opacity: 80%;
}

.infoBox{
    width: 220px;
    height: 180px;
    margin-top: 90px;
    margin-left: 50px;
    text-align: center;
}

.mercIcon{
    height: 80px;
    width: 80px;
}

.job{
    padding-top: 15px;
    margin-right: 50px;
}
.activity{
    top: 100px;
    left: 10px;
    grid-column: 1 / 3;
}