body{
background-color: black;
}
.contracker{
    background-image: url('/assets/Contracker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    margin: 0px;
    padding: 0px;
}

.buttonGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    padding-top: 50px;
    padding-bottom: 350px;
    padding-right: 330px;
}

button{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

.emblem{
    height: 80px;
    width: 80px;
}

.infoBox{
    width: 270px;
    height: 200px;
    position: absolute;
    top: 95px;
    right: 320px;
    display: flex;
    justify-content: start;
    align-items:flex-start;
}

.mercIcon{
    height: 80px;
    width: 80px;
}

.job{
    margin: 5px;
    padding: 15px;
}
.activity{
    position: absolute;
    top: 100px;
    left: 10px;
}