body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.merc{
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 90%;
    width: auto;
}

.game-box{
    background-color: rgba(128, 128, 128, 0.478);
    margin: 50px 300px 50px 50px;
    height: 450px;
}

header{
    
}