body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
div{
    display: flex;
    justify-content: center;
}

.merc{
    position: absolute;
    right: 20px;
    height: 90%;
    width: auto;
}